# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment variables
.env

# Application specific
aiml_set/bot_brain.brn
instance/

# OS specific
.DS_Store
Thumbs.db

# Database
*.sql
!schema.sql
